/* Colors come from each _theme.css, span > .css, this is decided in _anki.css */
:root {
  --pos-weight-light: 300;
  --pos-weight: 400;
  --pos-weight-bolder: 500;
}

/* Tooltip styling, the class contains the part of speech name */
pos:hover::after {
  content: attr(class);
  position: absolute;
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
  z-index: 1000;
  margin-top: 20px;
  pointer-events: none;
}

/* The additional selector is to deal with being inside or outside span.cloze */

.nom,
span > .nom,
.nom > span,
.propn,
span > .propn,
.propn > span,
.noun,
span > .noun,
.noun > span,
.det,
span > .det,
.det > span {
  color: var(--nominative-color);
  font-weight: var(--pos-weight);
}

.acc,
span > .acc,
.acc > span {
  color: var(--accusative-color);
  font-weight: var(--pos-weight);
}

.dat,
span > .dat,
.dat > span {
  color: var(--dative-color);
  font-weight: var(--pos-weight);
}

.gen,
span > .gen,
.gen > span {
  color: var(--genitive-color);
  font-weight: var(--pos-weight);
}

.aux,
span > .aux,
.aux > span,
.verb,
span > .verb,
.verb > span {
  color: var(--verb-color);
  font-weight: var(--pos-weight-bolder);
}

.adv,
span > .adv,
.adv > span {
  color: var(--adverb-color);
  font-weight: var(--pos-weight);
}

.cconj,
span > .cconj,
.cconj > span {
  color: var(--coordinating-conjunction-color);
  font-weight: var(--pos-weight);
}

.sconj,
span > .sconj,
.sconj > span {
  color: var(--subordinating-conjunction-color);
  font-weight: var(--pos-weight);
}

.adj,
span > .adj,
.adj > span {
  color: var(--adjective-color);
  font-style: italic;
  font-weight: var(--pos-weight);
}

.pron,
span > .pron,
.pron > span {
  color: var(--pronoun-color);
  font-weight: var(--pos-weight);
}

.adp,
span > .adp,
.adp > span {
  color: var(--adposition-color);
  font-weight: var(--pos-weight);
}
